body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.1rem;
}

.top-container {
  background: url("https://cdn.dribbble.com/users/470545/screenshots/3249842/media/fffbdefe5bd879669e0c93f8770ddd57.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 300px;
}
.middle-container {
  background-image: linear-gradient(#594B7E, white);
}

h1 {
  margin: 200px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color:#64497D;
}

h2 {
  font-family:'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  color: #64497D;
  font-weight: normal;
}
h3{
  color: #9E458A;
  font-size: 1.5rem;
}
hr{
  width: 5%;
  margin: 100px auto;
 border-style: dotted none none;
 border-color: #6E4D86;
 border-width: 10px;
}
p{
  line-height: 2;
}

.bottom-container{
  margin-top: 50px;
  background-color: #6E4D86;
  padding: 50px;
}
.shadi-photo{
  margin-top: 50px;
  width: 200px;
}
.profile{
  width: 25%;
  margin: auto;
}
.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}
.underline {
  text-decoration: underline;
}

.bottom-cloud {
  display: none;
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.top-cloud {
  display: none;
  position: absolute;
  right: 300px;
  top: 70px;
}

.microsoft{
  float: left;
  width: 25%;
  margin-right: 30px;
}

.cube {
width: 25%;
float: right;
margin-left: 30px;
}
.contact-me{
  width: 25%;
  margin: auto;
}
.btn {
  background: #6E4D86;
  background-image: -webkit-linear-gradient(top, #6E4D86, #11999e);
  background-image: -moz-linear-gradient(top, #6E4D86, #11999e);
  background-image: -ms-linear-gradient(top,#6E4D86, #11999e);
  background-image: -o-linear-gradient(top, #6E4D86, #11999e);
  background-image: linear-gradient(to bottom, #6E4D86, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #FF5482, #2bc4ad);
  background-image: -moz-linear-gradient(top, #FF5482, #2bc4ad);
  background-image: -ms-linear-gradient(top, #FF5482, #2bc4ad);
  background-image: -o-linear-gradient(top, #FF5482, #2bc4ad);
  background-image: linear-gradient(to bottom, #FF5482, #2bc4ad);
  text-decoration: none;
}

.footer-link{
  margin: auto 25px;
  text-decoration: none;
  font-weight: bold;
  color: #82DBD8;
}

a:hover{
  color: white;
}
